doctype html
html
  head
    title Angular 2 App
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    base(href="/")
    link(rel="shortcut icon" type="image/png" href="./assets/img/favicon.ico")
  body
    app
      div(style="text-align:center;margin-top:100px")
        | Loading....

    script(src="./vendor.bundle.js")
    script(src="./main.bundle.js")
