nav.header
  .nav-wrapper
    a.brand-logo.app-title(routerLink="/") Angular2 App
    //- ul#nav-mobile.right.hide-on-med-and-down
    //-   li
    //-     a(href="sass.html") Sass
    //-   li
    //-     a(href="sass.html") JS
