div(style="text-align:center")
  img(src="/assets/img/angular.png")
  br
  h2(style="font-family:fantasy")
    | You are ready to go with your
    br
  h1(style="font-family:fantasy") Angular 2.0 App
  
