{
  extends: "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": [2, {
      "exceptions": {
        "VariableDeclarator": true ,
        "Property": true
      }
    }],
    "key-spacing": [2, {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": true,
        "afterColon": true,
        "align": "colon"
      }
    }]
  }
}
