.home
  .page-content
    .icon
      i.material-icons check
      .text ng2 ready
    .auth-buttons
      a.waves-effect.waves-light.btn(routerLink="/login") Login
      a.waves-effect.waves-light.btn(routerLink="/signup") Signup
